.study-update-modal .modal-content {
    padding: 18px;
    background-color: white;
    border: 6px solid #8BC9FF;
    border-radius: 50px;
    min-width: 450px;
}

.study-update-modal .modal-header {
    border-bottom: none;
    padding-top: 5px;
    justify-content: center;
}

.study-update-modal .modal-title {
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.study-update-modal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.study-update-modal .modal-footer {
    border-top: none;
}

.public-toggle-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.custom-switch {
    margin: -8px 10px 0 10px;
}

.form-switch .form-check-input {
    width: 3em;
    height: 1.5em;
}

.form-switch .form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-label {
    margin-bottom: 3px;
}

.emoji-input-container {
    display: flex;
    align-items: center;
}

.emoji-input-container .form-control {
    flex-grow: 1;
    margin-right: 10px;
}

.emoji-picker-container {
    position: relative;
    z-index: 1000;
}

.emoji-picker-react {
    position: absolute;
    top: 100%;
    left: 0;
}

.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

.study-update-modal .modal-content {
    overflow: visible;
}

.password-input-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
}