/* "로그인" 후 이용 */
.login-text {
    font-size: 25px;
    text-align: center;
}

.login-link {
    color: #5EAEFF;
    cursor: pointer;
    text-decoration: underline;
}

.login-link:hover {
    color: #268ef6;
}

/* 패스워드 스타일, 보이기-숨기기 */
.password-input-wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.password-toggle::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
}

/* 비밀번호 - 비밀번호 확인 비교 메시지 */
.password-match-message {
    width: 100%;
    box-sizing: border-box;
    padding: 2px 0 0 0;
    margin-bottom: -2px;
    border-radius: 4px;
    font-size: 13px;
    text-align: center;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-match-message.nonexist {
    visibility: hidden;
}

.password-match-message.match {
    background-color: #F0FFF3;
    color: #009721;
}

.password-match-message.mismatch {
    background-color: #FFE3E3;
    color: #C80000;
}

/* 전체 스타일 */
.login-form,
.modify-form,
.register-form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.login-form .input-wrapper,
.modify-form .input-wrapper,
.register-form .input-wrapper {
    margin-bottom: 10px;
    width: 100%;
}

.login-form input,
.modify-form input,
.register-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.login-form .mybtn.skyblue,
.modify-form .mybtn.skyblue,
.register-form .mybtn.skyblue {
    width: 100%;
    box-sizing: border-box;
}

/* 수정 폼 스타일 */
.modify-form {
    background-color: #FDFDFD;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 10px;
    padding: 35px 15px 45px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}