.monthly-tracker {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
}

.calendar-div {
  background-color: #FDFDFD;
  padding: 10px 15px 15px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header h2 {
  margin-top: 10px;
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

.nav-button {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #333;
  padding: 10px 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 44px;
}

.nav-button-placeholder {
  width: 44px;
  height: 36px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0px;
  background-color: white;
  /* border: 2px solid #e0e0e0; */
  border-radius: 10px;
  overflow: hidden;
}

.day-header {
  background-color: #FDFDFD;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  color: #333;
  /* border-bottom: 2px solid #e0e0e0; */
}

.day {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: all 0.1s ease;
}

.day.no-data {
  cursor: default;
  opacity: 0.5;
}

.day.has-data {
  cursor: pointer;
}

.selected {
  border: 3px solid #333333;
}

.selected-date-info {
  margin-top: 15px;
  padding: 20px 15px;
  background-color: #FDFDFD;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.selected-date-info span {
  margin: 5px 0;
  font-size: 16px;
  font-family: 'Krona One', sans-serif;
}

.selected-date-info span:last-child {
  color: #007bff;
  font-weight: bold;
}