.monthly-tracker {
  max-width: 400px;
  margin: 0 auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.calendar-header h2 {
  margin-top: 10px;
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
}

.nav-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  padding: 0 10px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.nav-button-placeholder {
  width: 44px;
  height: 36px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: white;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.day-header {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #e0e0e0;
}

.day {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: all 0.1s ease;
}

.day.no-data {
  cursor: default;
  opacity: 0.5;
}

.day.has-data {
  cursor: pointer;
}

.selected {
  border: 3px solid #333333;
}

.selected-date-info {
  margin-top: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.selected-date-info p {
  margin: 5px 0;
  font-size: 16px;
}

.selected-date-info p:last-child {
  color: #007bff;
  font-weight: bold;
}