/* NavBar.css */
/* Nav */

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8BC9FF;
    padding: 0;
    margin: 0;
    height: 80px;
}

/* Logo Image */
.navbar-logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 100%;
}

.navbar-logo-img {
    display: block;
    height: 100%;
    width: auto;
    object-fit: contain;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.navbar-logo-img:hover {
    opacity: 90%;
}

/* Nickname */
.navbar-links {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.navbar-span {
    margin-right: 10px;
    font-size: 25px;
    text-decoration: none;
    padding-top: 5px;
    font-weight: bold;
    color: black;
}
.navbar-username {
    cursor: pointer;
    margin-right: 5px;
}
.navbar-username:hover {
    color : #fadb6a;
}
.navbar-username:active {
    color : #D1B757;
}
.navbar-login, .navbar-logout {
    margin-left: 10px;
}

/* Buttons */
.mybtn {
    position: relative;
    border: 0;
    padding: 7px 20px 0px 20px; /* top right bottom left */
    display: inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin: 5px 5px 9px 5px;
}
.mybtn:active {
    top: 4px;
    border: 0;
}
.mybtn.red      {background-color: #fa5a5a;}
.mybtn.yellow   {background-color: #f0d264;}
.mybtn.skyblue  {background-color: #59b2ff;}
.mybtn.skyblue  {
    background-color: #59b2ff;
    box-shadow: 0px 4px 0px #4f9ee3;
    font-size: 18px;
    font-weight: normal;
    width: 100%; /* Make the button full width */
    box-sizing: border-box; /* Include padding in width calculation */
    padding: 7px 0 0 0; /* Adjust vertical padding */
    margin: 10px 0 0 0;
}

.mybtn.skyblue:active {
    box-shadow: 0 0 #7ec3fe; 
    background-color: #7ec3fe;
}

/* New styles for form layout */
.login-form,
.modify-form {
    width: 100%;
    max-width: 300px; /* Adjust this value based on your design preferences */
    margin: 0 auto;
}

.login-form .input-wrapper,
.modify-form .input-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.login-form input,
.modify-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.login-form .mybtn.skyblue,
.modify-form .mybtn.skyblue {
    width: 100%;
}