.study-create-modal .modal-content {
    padding: 18px;
    background-color: white;
    border: 6px solid #8BC9FF;
    border-radius: 50px;
}

.study-create-modal .modal-header {
    border-bottom: none;
    padding-top: 5px;
    justify-content: center;
    /* 추가: 헤더 내용을 가운데 정렬 */
}

.study-create-modal .modal-title {
    font-weight: bold;
    width: 100%;
    /* 추가: 전체 너비를 사용 */
    text-align: center;
    /* 추가: 텍스트를 가운데 정렬 */
}

.study-create-modal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.study-create-modal .modal-footer {
    border-top: none;

}

.public-toggle-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.custom-switch {
    margin: -8px 10px 0 10px;
}

.form-switch .form-check-input {
    width: 3em;
    height: 1.5em;
}

.form-switch .form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-label {
    margin-bottom: 3px;
}

.emoji-input-container {
    display: flex;
    align-items: center;
  }
  
  .emoji-input-container .form-control {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .emoji-picker-container {
    position: relative;
    z-index: 1000;
  }
  
  .emoji-picker-react {
    position: absolute;
    top: 100%;
    left: 0;
  }

/* Modal 스타일 수정 */
.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

.study-create-modal .modal-content {
    overflow: visible;
}