@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

.App {
    text-align: center;
}

/* "로그인" 후 이용 */
.login-text {
    font-size: 30px;
    text-align: center;
  }
  
  .login-link {
    color: #5EAEFF;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .login-link:hover {
    color: #268ef6;
  }