@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

.App {
    text-align: center;
}

/* "로그인" 후 이용 */
.login-link {
    cursor: pointer;
    color: #415D75;
    text-decoration: underline;
}
.login-link:hover, .login-link:active {
    color: #2f404b;
}